@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define mixin for dark mode */
@mixin darkMode {
    @apply bg-[#20263b] text-white;
}

/* Define mixin for light mode */
@mixin lightMode {
    @apply bg-white text-black;
}

[data-theme='dark'] {
    @include darkMode;
}

/* Light Mode */
[data-theme='light'] {
    @include lightMode;
}

/* Dark Mode */
[data-theme='dark'] button {
    @include darkMode;
    @apply bg-transparent border border-blue-500;
}

/* Light Mode */
[data-theme='light'] button {
    @include lightMode;
    @apply bg-transparent border border-blue-500 text-inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    @apply w-full;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
    @apply outline-none;
}

body {
    @apply mx-0 dark:bg-[#20263b] dark:text-white bg-white text-black;
}

.page {
    @apply min-h-[85vh];
}

.frame {
    // -webkit-mask-image: linear-gradient(180deg, #000 75%, transparent);
    // -webkit-mask-image: radial-gradient(circle, black, 85%, transparent);
}

.default-btn {
    @apply rounded-full text-lg p-3 px-5 dark:text-white dark:bg-[#ffffff20] bg-blue-100 hover:bg-gradient-to-r text-indigo-600 hover:from-blue-500 hover:to-violet-500 hover:text-white mx-1;
}

.normal-btn {
    @apply rounded-full dark:text-white dark:bg-[#ffffff20] bg-blue-100 hover:bg-gradient-to-r text-indigo-600 hover:from-blue-500 hover:to-violet-500 hover:text-white mx-1;
}


[data-mode='light'] .pp {
    &__control {
        @apply bg-inherit text-black border-x-0 border-t-0 border-b border-[#e5e7eb] outline-none rounded-none;
    }

    &__option {
        @apply bg-inherit text-black;
    }

    &__single-value {
        @apply text-black;
    }

    &__input {
        @apply text-inherit;
    }

    &__menu {
        @apply bg-[#cfcfcf];
    }

    &__option {
        @apply bg-white;

        &--is-focused {
            @apply bg-[#4d70a1] text-white cursor-pointer;
        }
    }
}

[data-mode='dark'] .pp {
    &__control {
        margin: 0.125rem auto;
        background-color: inherit !important;
        color: white;
        border: none;
        border-bottom: 1px solid #e5e7eb;
        outline: none !important;
        border-radius: 0;
    }

    &__single-value {
        @apply dark:text-white text-black;
        color: inherit !important;
    }

    &__input {
        color: white;
    }

    &__input-container {
        color: white;
    }

    &__menu {
        margin: 0.125rem auto;
        background-color: #1c1f27 !important;
    }

    &__option {
        background-color: 1c1f27;

        &--is-focused {
            cursor: pointer;
            background-color: #4b5563 !important;
        }
    }

    &__indicator {
        color: white;
    }

    &__placeholder {
        color: white;
    }
}

.carousel {
    @apply cursor-grab
}

.inner-carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
}

.item {
    @apply rounded-lg shadow-lg bg-blue-100 text-blue-600 dark:text-white dark:bg-[#28314A];
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.item.selected {
    @apply bg-blue-500 text-white;
}